<h1>Welcome to Micah.ai!</h1>
<h2>Built by coffee snobs for coffee snobs</h2>
<h4>Simply enter your address or zip code below and Micah will provide you with the best hipster coffee shops in your area</h4>

<form action="/results">
  <label for="location_input">Location</label>
  <input id="location_input" type="text" name="input_location" placeholder="Enter your address or zipcode...">

  <button>Search!</button>
</form>
