Here you go!


<table border="1">
  <tr>
    <th>
      Name
    </th>
    <th>
      Location
    </th>
    <th>
      Longitude
    </th>
    <th>
      Latitude
    </th>
    <th>
      Rating
    </th>
  </tr>

  <% @array.each do |coffee|%>
  <tr>
    <td>
      <%= coffee.fetch("name %>
    </td>
    <td>
      
    </td>
    <td>
      
    </td>
    <td>
      
    </td>
    <td>
    
    </td>
  </tr>
 <% end %>
  </table>
