<h1>Signup</h1>

<hr>
<form action="/">
  <label for="location_input">Email</label>
  <input id="location_input" type="text" name="input_email" placeholder="email">

<p></p>

<form action="/">
  <label for="location_input">Username</label>
  <input id="location_input" type="text" name="input_username" placeholder="username">

<p></p>

<form action="/">
  <label for="location_input">Password</label>
  <input id="location_input" type="text" name="input_password" placeholder="password">

<p></p>

<form action="/">
  <label for="location_input">Confirm Password</label>
  <input id="location_input" type="text" name="input_password_confirm" placeholder="confirm password">

<p></p>

  <button>Signup!</button>
</form>

<hr>
